/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.contador {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.botones button {
  background-color: #F08626; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.botones button:hover {
  background-color: #d46e1f; 
  transform: scale(1.05); 
}

.botones button:active {
  transform: scale(0.95); 
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones button:not(:last-child) {
  margin-right: 15px; /* Espacio entre los botones */
}